flask
flask-cors
requests
pandas
yfinance
chromadb
tiktoken
beautifulsoup4
pypdf

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-ollama
langchain-chroma
langchain-huggingface
sentence-transformers